.form-content {

    display:flex;
    flex-direction: column;
    background-color: lightgray;
    margin:10px;
    height: 100%;
}

.form-content > div {

    flex-basis: 100%;
    flex-wrap: wrap;
    margin-left:40px;
    margin-right:40px;
}

.form-elem {

    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    margin-left: 30px;
}

body {

    background-color: grey;
    margin:0

}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.form-elem > div {

    flex-basis: 50%; 
    flex-wrap: wrap;
    margin-bottom: 2px
}

.form-1-elm {

    flex-basis: 100%;
}

.textarea-container{

resize: none;
height: 120px;
width: 100%;
}

.questions {

    color:rgb(112,59,64);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}

input[type=button]{

    background-color: grey;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:30px;
    margin-bottom:30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.div_button {

    align-self: center;
}


.horizontal-center {
   
    text-align: center;
}